@model BugTracker.Models.AdminUserViewModel


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title" style="text-align:center;">Change User's Role</h2>
                        <h4 style="text-align:center;">User's Name: @Model.User.DisplayName</h4>
                        @*<h4>User's Current Role: </h4>*@
                    </div>
                    <div class="card-lock">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.User.Id)
                            <p>
                                @Html.ListBox("SelectedRoles", Model.Roles)
                            </p>
                            <input type="submit" class="btn btn-primary">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

