<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=tcp:ssanders.database.windows.net,1433;
         Initial Catalog=dbBugTracker; 
          Persist Security Info=True;
         User ID=shanamcclain;
         Password=Mcclain1!;"
  providerName="System.Data.SqlClient" />
</connectionStrings>
