@using BugTracker.Models.Helpers
@using Microsoft.AspNet.Identity

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="~/Assets/assets/img/background.jpg" alt="..." />
                    </div>
                    <div class="card-content">
                        <div class="author">
                            <img class="avatar border-white" src="@User.Identity.GetPic()" alt="..." />
                            <h4 class="card-title">
                                        @*@Html.ActionLink(User.Identity.GetName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                                <br />
                            </h4>
                        </div>
                        <p class="description text-center">
                            "I like the way you work it <br>
                            No diggity <br>
                            I wanna bag it up"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <h5>
                                    <br /><small>Projects</small>
                                </h5>
                            </div>
                            <div class="col-md-5">
                                <h5>3<br /><small>Tickets</small></h5>
                            </div>
                            @*<div class="col-md-3">
                                    <h5>24,6$<br /><small>Spent</small></h5>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Team Members</h4>

                    </div>
                    <div class="card-content">
                        <ul class="list-unstyled team-members">
                            <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="~/Assets/assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                    </div>
                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="~/Assets/assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                    </div>
                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="~/Assets/assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                    </div>
                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Profile</h4>
                    </div>
                    <div class="card-content">
                        @using (Html.BeginForm("UserPage", "Home", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="text" name="UserId" hidden value="@User.Identity.GetUserId()"/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <input type="text" class="form-control border-input" disabled placeholder="Company" value="CoreTechs">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        @*<input type="email" class="form-control border-input" placeholder="Email">*@
                                        <div>
                                            @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", new { title = "Manage" }, null)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        @*<input type="text" class="form-control border-input" placeholder="Company" value="Chet">*@
                                        <div>
                                                    @*@Html.ActionLink(User.Identity.GetName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Upload Photo</label>

                                            <input type="file" name="image" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
                                        </div>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control border-input" placeholder="Home Address" value="Melbourne, Australia">
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control border-input" placeholder="City" value="Melbourne">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <input type="text" class="form-control border-input" placeholder="Country" value="Australia">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Postal Code</label>
                                            <input type="number" class="form-control border-input" placeholder="ZIP Code">
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label></label>
                                            <input type="text" class="form-control border-input" placeholder="Home Address" value="Melbourne, Australia">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label></label>
                                            <input type="text" class="form-control border-input" placeholder="City" value="Melbourne">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label></label>
                                            <input type="text" class="form-control border-input" placeholder="Country" value="Australia">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label></label>
                                            <input type="number" class="form-control border-input" placeholder="ZIP Code">
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">

													</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-info btn-fill btn-wd" value="Update Profile" />
                            </div>
                            <div class="clearfix"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



