@model BugTracker.Models.ProjectViewModel
<h2>Edit Users</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Project.Id)
    @Html.HiddenFor(m => m.Project.Name)
    <p>
        @Html.ListBox("SelectedUsers", Model.Users)
    </p>
    <input type="submit" class="btn btn-primary">
}





